## PandasDataFrameOutputParser
* Pandas DataFrameê³¼ LLMì„ ì—°ë™í•˜ì—¬ ë°ì´í„°ë¥¼ ì‰½ê²Œ ì¡°íšŒí•˜ê³  ë¶„ì„í•  ìˆ˜ ìˆë„ë¡ ë•ëŠ” ì¶œë ¥ íŒŒì„œ
* ì¡°í™”ëœ ë°ì´í„°ì— ëŒ€í•œ ìì—°ì–´ ì§ˆì˜ë¥¼ ìˆ˜í–‰í•˜ê³ , ê²°ê³¼ë¥¼ Pandas DataFrame í˜•ì‹ìœ¼ë¡œ ë°˜í™˜í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.

### PandasDataFrameOutputParserì˜ ì¥ì 

- **ìì—°ì–´ ê¸°ë°˜ ë°ì´í„° íƒìƒ‰**
    - SQL ì—†ì´ë„ **ìì—°ì–´ë¡œ ë°ì´í„° ì¡°íšŒ ê°€ëŠ¥**
    - ë°ì´í„° ë¶„ì„ ì´ˆë³´ìë„ ì‰½ê²Œ í™œìš© ê°€ëŠ¥
- **Pandas DataFrameê³¼ì˜ ì§ì ‘ì ì¸ ì—°ë™**
    - LLMì„ ì´ìš©í•´ ë°ì´í„°í”„ë ˆì„ì—ì„œ í•„ìš”í•œ ì •ë³´ë§Œ **íš¨ìœ¨ì ìœ¼ë¡œ ì¶”ì¶œ**
    - ê¸°ì¡´ Pandas ê¸°ëŠ¥ê³¼ **ìœ ì—°í•˜ê²Œ ê²°í•© ê°€ëŠ¥**
- **ë°ì´í„° ê°€ê³µ ë° ë¶„ì„ íš¨ìœ¨í™”**
    - ë°˜í™˜ëœ DataFrameì„ ë°”ë¡œ **ë¶„ì„, ì‹œê°í™”, ëª¨ë¸ë§ ë“±ì— í™œìš© ê°€ëŠ¥**

In [8]:
import pandas as pd
from langchain.output_parsers import PandasDataFrameOutputParser
from langchain_core.prompts import PromptTemplate
from langchain_openai import ChatOpenAI
from dotenv import load_dotenv
import re
import os

import sys
sys.path.append(os.path.abspath(os.path.join(os.pardir, "public")))
from model import getModel

In [9]:
load_dotenv()
OPENAI_API_KEY = os.getenv("OPENAI_API_KEY")

In [10]:
# OpenAI ëª¨ë¸ ì´ˆê¸°í™”
# model = getModel()
model = ChatOpenAI(temperature=0, model_name="gpt-4o")

In [11]:
df = pd.read_csv("../csv/titanic.csv")
# print(df.columns)

In [12]:
# Pandas DataFrame Output Parser ì„¤ì •
parser = PandasDataFrameOutputParser(dataframe=df)

In [13]:
# í˜•ì‹ ì§€ì¹¨ ì¶œë ¥
format_instructions = parser.get_format_instructions()
# print("Format Instructions:\n", format_instructions)

In [14]:
# í”„ë¡¬í”„íŠ¸ í…œí”Œë¦¿ ì„¤ì •
prompt = PromptTemplate(
    template=""" 
    You are a helpful assistant that interacts with a Pandas DataFrame.
    The DataFrame contains the following columns: {columns}.
    
    Your task is to answer the user's query by generating a command in the following format:
    {format_instructions}
    
    User Query: {query}    
    """,
    input_variables=["query"],
    partial_variables={
        "format_instructions": format_instructions,
        "columns": ", ".join(df.columns)
    },
)
print(prompt.partial_variables['columns'])

Survived, Pclass, Name, Sex, Age, Siblings/Spouses Aboard, Parents/Children Aboard, Fare

In [15]:
# ì²´ì¸ ìƒì„±
chain = prompt | model | parser

# ëª¨ë¸ ì‘ë‹µ ë°›ê¸°
try:
    # **Name ì—´ì„ í‘œì‹œí•˜ì‹­ì‹œì˜¤.**
    print('Name ì»¬ëŸ¼ ì¶œë ¥')
    df_query = "Show the Name column"

    parser_output = chain.invoke({"query": df_query})
    print(type(parser_output))
    print(parser_output)

    # **ì²«ë²ˆì§¸ í–‰ì„ í‘œì‹œí•˜ì‹­ì‹œì˜¤.**
    print('ì²«ë²ˆì§¸ í–‰ ì¶œë ¥')
    df_query2 = "Show first row"

    parser_output2 = chain.invoke({"query": df_query2})
    print(parser_output2)

except Exception as e:
    print(f"ì˜¤ë¥˜ ë°œìƒ: {e}")

Name ì»¬ëŸ¼ ì¶œë ¥
<class 'dict'>
{'Name': 0                                 Mr. Owen Harris Braund
1      Mrs. John Bradley (Florence Briggs Thayer) Cum...
2                                  Miss. Laina Heikkinen
3            Mrs. Jacques Heath (Lily May Peel) Futrelle
4                                Mr. William Henry Allen
                             ...
882                                 Rev. Juozas Montvila
883                          Miss. Margaret Edith Graham
884                       Miss. Catherine Helen Johnston
885                                 Mr. Karl Howell Behr
886                                   Mr. Patrick Dooley
Name: Name, Length: 887, dtype: object}
ì²«ë²ˆì§¸ í–‰ ì¶œë ¥
ì˜¤ë¥˜ ë°œìƒ: Unsupported request type '```
row'.                         Please check the format instructions.
For troubleshooting, visit: https://python.langchain.com/docs/troubleshooting/errors/OUTPUT_PARSING_FAILURE

In [16]:
import pandas as pd
from langchain.output_parsers import StructuredOutputParser, ResponseSchema
from langchain_core.prompts import PromptTemplate

model = ChatOpenAI(temperature=0, model_name="gpt-4o")

# ì‘ë‹µ ìŠ¤í‚¤ë§ˆ ì •ì˜
response_schemas = [
    ResponseSchema(name="data", description="A list of dictionaries representing table rows."),
]

# Output Parser ì„¤ì •
parser = StructuredOutputParser.from_response_schemas(response_schemas)


# í”„ë¡¬í”„íŠ¸ í…œí”Œë¦¿ ì„¤ì •
prompt = PromptTemplate(
    template="""
    You are an AI assistant that generates tabular data. 
    You must return the data in JSON format that follows this schema:
    
    {format_instructions}
        
    **User Query:**
    {query}
    """,
    input_variables=["query"],
    partial_variables={"format_instructions": parser.get_format_instructions()},
)

In [17]:

# ì²´ì¸ ìƒì„± (í”„ë¡¬í”„íŠ¸ â†’ ëª¨ë¸ â†’ OutputParser)
chain = prompt | model | parser

# ì‹¤í–‰ í•¨ìˆ˜
def generate_dataframe(user_query):
    try:
        # ëª¨ë¸ í˜¸ì¶œ
        json_response = chain.invoke({"query": user_query})

        # ëª¨ë¸ì´ ë°˜í™˜í•œ JSONì„ Pandas DataFrameìœ¼ë¡œ ë³€í™˜
        df = pd.DataFrame(json_response["data"])

        # ê²°ê³¼ ì¶œë ¥
        print("\nğŸ”¹ Generated DataFrame:\n")
        return df

    except Exception as e:
        print(f"âŒ ì˜¤ë¥˜ ë°œìƒ: {e}")
        return None

In [18]:
# [ì˜ˆì œ 1] 2024ë…„ ìƒë°˜ê¸° ì„œìš¸ ì•„íŒŒíŠ¸ í‰ê·  ë§¤ë§¤ ê°€ê²© ë°ì´í„° ìƒì„±
print('2024ë…„ í•˜ë°˜ê¸° ì„œìš¸ ì•„íŒŒíŠ¸ í‰ê·  ë§¤ë§¤ ê°€ê²© ë°ì´í„° ìƒì„±')
df_seoul_housing = generate_dataframe(
    "Create a dataset of the average apartment sale prices in Seoul for the second half of 2024 with columns: District (êµ¬), Average Price (in KRW), Number of Transactions, and Year-over-Year Change (%)."
)
print(df_seoul_housing.shape)
df_seoul_housing

2024ë…„ í•˜ë°˜ê¸° ì„œìš¸ ì•„íŒŒíŠ¸ í‰ê·  ë§¤ë§¤ ê°€ê²© ë°ì´í„° ìƒì„±

ğŸ”¹ Generated DataFrame:

(8, 4)

,District,Average Price,Number of Transactions,Year-over-Year Change (%)
0,Gangnam-gu,1500000000,1200,3.5
1,Jongno-gu,950000000,800,2.1
2,Mapo-gu,1100000000,950,4.0
3,Songpa-gu,1300000000,1100,3.8
4,Yongsan-gu,1400000000,700,2.5
5,Seocho-gu,1450000000,1000,3.2
6,Gwanak-gu,800000000,600,1.8
7,Seodaemun-gu,900000000,750,2.9

In [19]:
print('í•œêµ­ 5ëŒ€ í¸ì˜ì  ë¸Œëœë“œë³„ 2024ë…„ ë§¤ì¶œ ë° ì í¬ ìˆ˜')
# [ì˜ˆì œ 3] í•œêµ­ 5ëŒ€ í¸ì˜ì  ë¸Œëœë“œë³„ 2024ë…„ ë§¤ì¶œ ë° ì í¬ ìˆ˜
df_korean_convenience_stores = generate_dataframe(
    "Create a dataset of the top 5 convenience store brands in Korea in 2024 with columns: Brand Name, Number of Stores, Total Revenue (in billion KRW), and Market Share (%)."
)
df_korean_convenience_stores.head()

í•œêµ­ 5ëŒ€ í¸ì˜ì  ë¸Œëœë“œë³„ 2024ë…„ ë§¤ì¶œ ë° ì í¬ ìˆ˜

ğŸ”¹ Generated DataFrame:

,Brand Name,Number of Stores,Total Revenue (in billion KRW),Market Share (%)
0,CU,15000,5000,35.0
1,GS25,14000,4800,33.5
2,7-Eleven,10000,3000,20.0
3,Emart24,5000,1500,7.5
4,Ministop,3000,700,4.0